

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #003366, #007bff);
  padding: 10px 20px;
  border: 3px solid black; 
  border-radius: 0.5rem;
  
  
}

.navbarLogo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbarMenu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  
}

.navbarItem {
  position: relative;
  
  
}

.navbarLink {
  text-decoration: none;
  color: #423d3d;
  font-weight: bold;
  transition: color 0.5s ease;
  border-radius: 10%;
  background: rgb(165, 165, 165);
}

.navbarLinkSalir {
  text-decoration: none;
  color: #423d3d;
  font-weight: bold;
  transition: color 0.5s ease;
  border-radius: 7%;
  background-color: #b80822;
}

.navbarLink:hover {
  color: #f1f0ef;
  transform: scale(1.2);
}

.navbarLinkSalir:hover {
  color: #f1f0ef;
  transform: scale(1.2);
}

.dropdown ul {
  position: absolute;
  background-color: #333;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  display: none;
  
}

.dropdown:hover ul {
  display: block;
}

.submenu li {
  margin: 5px 0;
  border: 3px solid black; 
}

.submenu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.submenu a:hover {
  color: #ff9900;
}
